*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

img{
    border-radius: 1rem;
    width: 100%;
    align-self: center;
}
body {
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

.container{
    background-color: white;
    border-radius: 1rem;
    padding: 2% 3%;
    margin: 15% auto;
    width: 55%;
}

.section_one{
    background-color: hsl(330, 100%, 98%);
}

.section_one h3{
    color: hsl(332, 51%, 32%);
}

.section_one ul {
    padding-left: 40px;
}

header, main, section, footer{
    padding: 3%;
}

h1{
    color: black;
    margin-bottom: 8px;
}

li{
    margin-left: 10px;
    margin-bottom: 8px;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}

h2{
    font-family: 'YoungSerif', serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.493);
}

table td {
    padding: 10px;
}
hr{
    width: 100%;
    max-width: 100%;
    height: 0.5px;
    background-color: hsla(0, 0%, 50%, 0.493);
    border: none;
}
footer{
    padding-top: 0;
    margin-top: 4%;
}

footer section{
    text-indent: 0%;
    padding-left: 0%;
}

footer h2{
    margin:0%;
}

table tbody .row-two{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    .container{
        margin: 0 auto;
        width: auto;
        max-width: 375px;
        border-radius: 0%;
        padding:0;
    }
    img {
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        align-self: center;
}

    header, main, footer,.section_one{
        padding: 3% 10%;
    }
}